.container {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 52rem;
   margin: auto;
}

button {
   height: 3rem;
   border-radius: 50%;
   background-color: rgb(235, 227, 227);
}

.btn-left {
   z-index: 1;
   margin: -1rem;
   display: none;
}
.displayLeft {
   display: block;
}
.btn-right {
   margin: -1rem;
}

.cardContainer {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   background-color: green;
   overflow-x: scroll;
   white-space: nowrap;
   scroll-behavior: smooth;
}

.cards {
   min-width: 12rem;
   margin: 0.5rem;
}

.image {
   border-radius: 5px;
   width: 100%;
}

.movieName {
   font-size: 0.575rem;
   color: white;
   width: 100%;
}

.movieInfo {
   font-size: 0.575rem;
   width: 100;
   color: white;
}
